*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    top: 0;
    position: sticky;
    padding: 20px 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;
}
.header .logo{
    font-size: 30px;
    font-weight: 600;
    color: rgb(224, 194, 22);
    cursor: pointer;
}
span i{
    margin-top: 0;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: rgb(224, 194, 22);
    font-size: 20px;
}
ul li:hover{
   border: 2px solid #ffa;
    border-radius: 10px;
    padding: 5px;
}
.headers{
    width: 100%;
    background:url(image/img1.jpeg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 200px);
    text-align: center;
    padding-top: 7rem;
    font-size: 2rem;
    cursor: pointer;
    }
    .cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card img{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 20px #050504;
        border-radius: 10px;
        margin: 10px 0;
    }
    
    .card{
        width: 100%;
        height: 300px;
        margin: 20px 15px;
        cursor: pointer;
        transition:0.2s;
    }
    .card:hover{
        transform:scale(1.05);
    }
    footer{
        background-color:#000;
        margin-top: 40px;
        height: 200px;
        color: white;
        display: flex;
        justify-content: space-around;
    }
    .d{
        margin: 10px;
        text-align: center;
        font-weight: bold;
    }
    .nousuivre{
        margin:10px 0;
        padding: 20px;
    }
    .nousuivre h3{
        margin-bottom: 10px;
    }
    .nousuivre .icons i{
        margin: 10px;
    }
    .situation{
        margin:10px 0;
        padding: 20px;
        font-size: 15px;
        line-height: 20px;
    }
    @media(max-width:768px)
{
    .headers p{
        overflow: hidden;
        text-overflow:clip ;
    }
    .cards{
        height: auto;
        flex-direction: column;
        padding: 1rem;
    }
    .menu{
        margin-top: 1rem;
        font-size:0.9rem ;
    }
}
    
    